html {
    font-family: sans-serif;
    background-color:#fafafa;
    font-size: 16px;
    padding:0px;
    margin:0px;
}

body {
    padding:0px;
    margin:0px;
}

h1 {
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding: 10px 10px 20px 10px;
}

h2 {
    border-bottom: 1px solid black;
    display: block;
    font-size: 18px;
}

div#main {
    width: 100%;
    margin: 0px auto 0px auto;
    padding: 0px;
    background-color: #fff;
    height: 460px;
}

div#warnings {
    color: red;
    font-weight: bold;
    margin: 10px;
}
div#shadowbox {
    background-color:#000;
    z-index:2;
    position:absolute;
    width:100%;
    height:100%;
    opacity:0.3;
    top:0px;
    left:0px;
}
div#join-section {
    z-index:3;
    float: left;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    margin:0px;
    padding:10px;
    background-color:#ffffff;
    box-shadow: 0px 0px 15px 3px #000;
    text-align:center;
    
}

input{
    font-size:14px;
    padding:5px;
    float:left;
    display:inline-block;
}
div#join-section form{
    /*KOSTYL*/
    width: 50%;
    margin: 0 auto;
}

div#join-section input[type=text]{
    font: bold 20px Arial, sans-serif;
    padding-left:10px;
}
.button{
    /*background:none;*/
    border:none;
    text-transform:uppercase;
    background: #6868dd;
    padding:0px 20px;
    color:#ede4e4;
    font: bold 29px Arial, sans-serif;
    
    height:40px;
    text-overflow:hidden;
    letter-spacing:3px;
    margin-left:-3px;
	overflow: hidden;
    
}

.blue{
    background: #6868dd;
    text-shadow: 1px 1px 0px #00b, -1px -1px 0px #33f;
}

.red{
    background: #b8b81d;
    color:#a03000;
    text-shadow: 1px 1px 0px b00, -1px -1px 0px #f33;
}
input[type=text] {
    width:200px;
    padding:0px;
    height:40px;
    border-color:#f4f4f4;
    border-style:none;
    background-color:#f4f4f4;
}


div#users-section {
    width: 170px;
    right:10px;
    top:40px;
}

ul#users {
    list-style-type: none;
    padding-left: 0px;
    height: 300px;
    overflow: auto;
}

div#chat-section {
    width: 340px;
    top:40px;
    left:10px;
}

.window {
    opacity:0.7;
    position:absolute;
    padding:6px;
    box-shadow: 2px 2px 5px 0px #333;
    z-index:1;
    border-radius:4px;
    background-color:#504a4a;
    color:#f0f0f0;
}

.window:hover{
 opacity:1;   
}

#webglcanvas{
    border: none;
    width:500px;
    height:500px;
    margin-left:250px;
    background:white;
}
div#messages {
    margin: 0px;
    height: 300px;
    overflow: auto;
}

div#messages p {
    margin: 0px;
    padding: 0px;
}

div#footer {
    text-align: center;
    font-size: 12px;
    color: #fff;
    margin: 10px 0px 30px 0px;
}

div#footer a {
    color: #fff;
}

div.clear {
    clear: both;
}